<div class="profile-password">
    <div class="profile-password__content" >
        <div class="profile-password__title">
            <strong>Сменить пароль</strong>
        </div>
        <form action="" class="profile-password__form">
            <div class="profile-password__form-wrap">
                <div class="profile-password__form-inner">
                    <label for="">Введите текущий пароль</label>
                    <input type="text">
                    <div class="input-error">*Отсутствует заглавная буква</div>
                </div>
            </div>
            <div class="profile-password__form-wrap profile-password__form-wrap--two">
                <div class="profile-password__form-inner">
                    <label for="">Введите новый пароль</label>
                    <input type="text">
                    <div class="input-error">*Отсутствует заглавная буква</div>
                </div>
                <div class="profile-password__form-inner">
                    <label for="">Введите новый пароль повторно</label>
                    <input type="text">
                    <div class="input-error">*Отсутствует заглавная буква</div>
                </div>
            </div>
            <div class="profile-password__text">
                Не менее 8 символов. Пароль должен содержать хотя бы одно: заглавную букву, строчную букву,
                цифру и символ
            </div>
            <div class="profile-password__btns">
                <button class="red-btn"><span>Сохранить пароль</span></button>
                <a href="/">Забыли пароль?</a>
            </div>
        </form>
    </div>
    
</div>